# Dependencias
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Archivos de compilación
dist/
build/
*.tsbuildinfo

# Configuración de entorno
.env
.env.local
.env.development
.env.test
.env.production

# Logs
logs/
*.log

# Cobertura
coverage/

# Archivos del sistema
.DS_Store
Thumbs.db

# IDEs y editores
.idea/
.vscode/
*.swp
*.swo
.DS_Store
*.sublime-project
*.sublime-workspace

# Archivos temporales
tmp/
temp/ 